body{
  counter-reset: review;
}

td {
  border: 1px dotted black;
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 10px;
  vertical-align: top;
  text-align: left;
}

.sticky {
  padding: 0.3em;
  min-height: 26.3em;
  position: sticky;
  top: 10%;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container_review {
  border: 1px solid #f66;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container_review::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container_review img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container_review span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container_review {
    text-align: center;
  }

  .container_review img {
    margin: auto;
    float: none;
    display: block;
  }
}

.pd_bot{
  padding-bottom:  1rem;
}

.pd_topbot{
  padding: 0rem, 10rem;
}

.p_fx .n_name{
  color: black;
}

.n_name{
  font-weight: 500;
  font-size: 16px;
}

/***********************Bed Arrangements Container***********************/

.bed_padding{
  margin: 20px;
}


/***********************Amenities Popup***********************/
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 0px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;    /*arrow*/
  left: 10%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/***********************Slider Hotel in subpage***********************/
.container_slider{
  position: relative;
}

.slidercontent{
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.style{
  width: 100%;
}

.row_thumbnail:after {
  content: "";
  display: table;
  clear: both;
}

.column_thumbnail {
  float: left;
  width: 16.66%;
}

.opacity{
  opacity: 0.6%;
}

.active, .opacity:hover {
  opacity: 1;
}




/***********************Clone Bed Desc***********************/
#buttonnombo{
  cursor: pointer;
}

/* #counter::before{
  counter-increment: review;
  content: "Customer Reviews " counter(review) ": ";
} */

.hidden{
  display: none;
}
